* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  position: relative;
  text-align: center;
  cursor: pointer;
}

.btn span {
  position: relative;
  display: inline-block;
  background: blue;
  color: aliceblue;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  width: 240px;
  padding: 18px 0;
  margin: 35px;
  border-radius: 8px;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}
